@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600&display=swap");

// Fonts
$base-font: "Prompt", sans-serif;

// Colors
$black: #000;

$white: #fff;
$light-white: #f1f3f8;

$grey: #838383;
$light-grey: #eeeeee;
$grey-blue-light: #2c3342;

$blue: #175ffc;
$dark-blue: #2d4059;
$dark-blue-1: #202735;

$red: #fe4d4d;

$yellow: #fbd46d;

$green: #99b898;
